findpeaks==2.4.0
pickle5==0.0.12
opencv_contrib_python==4.5.5.64
numpy==1.21.6
pandas==1.0.1
natsort==8.1.0
keras==2.8.0
tensorflow==2.8.0
matplotlib==3.5.1
scikit_image==0.16.2
Pillow==9.1.1
scikit_learn==1.1.1
skimage==0.0
